In [1]:
# Dependecy import
import pandas as pd

# File to Load (Remember to change the path if needed.)
data_to_load = "Resources/us_hospital_locations.csv"

hospital_info_df = pd.read_csv(data_to_load)

hospital_info_df.head()

,X,Y,FID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-1.331889e+07,4.346975e+06,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,-1.322651e+07,4.049626e+06,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,-1.315620e+07,4.031978e+06,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,-1.317190e+07,4.041752e+06,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,-1.313208e+07,4.037270e+06,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [10]:
# Basic EDA to see what we have
print(hospital_info_df.shape)
hospital_info_df.columns

(7596, 34)

Index(['X', 'Y', 'FID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

In [11]:
# Determine the number of unique values in each column.
unique_values = hospital_info_df.nunique()
unique_values

X             7594
Y             7595
FID           7596
ID            7596
NAME          7342
ADDRESS       7470
CITY          3373
STATE           57
ZIP           5640
ZIP4           111
TELEPHONE     6338
TYPE            10
STATUS           2
POPULATION     718
COUNTY        1605
COUNTYFIPS    2577
COUNTRY          7
LATITUDE      7595
LONGITUDE     7594
NAICS_CODE       3
NAICS_DESC      17
SOURCE         101
SOURCEDATE     100
VAL_METHOD       2
VAL_DATE       287
WEBSITE       6658
STATE_ID      3516
ALT_NAME       867
ST_FIPS         57
OWNER            8
TTL_STAFF        1
BEDS           728
TRAUMA          34
HELIPAD          2
dtype: int64

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
hospital_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df